html
  head
    title Simple Selenium Hub
  body
    h1 Available servers
    each as in availableServers
      li  #{as.name} [ #{as.host}:#{as.port} ]
    h1 Busy servers
    each bs in busyServers
      li #{bs.name} [ #{bs.host}:#{bs.port} ]
    h1 Mappings
    each mapping, key in mappings
      li #{mapping.url} (#{key}) <==> #{mapping.server}