#container
    h1 SELENIUM GRID CONSOLE
    #servers
        h1 Available servers
        ul
            each as, index in availableServers
                li.tooltip  #{as.name} 
                    span.server-ip #{as.host}:#{as.port}
                    a(href='/offline/#{index}')
                        img(title="Take offline", src='images/offline.png')
        h1 Busy servers
        ul
            each bs in busyServers
                li #{bs.name} [#{bs.host}:#{bs.port}]
        h1 Offline servers
        ul
            each os, index in offlineServers        
                li.tooltip #{os.name} 
                    span.server-ip #{os.host}:#{os.port}
                    a(href='/online/#{index}') [Put online]
                    |  / 
                    a(href='/drop/#{index}') [Drop server]
        include add-server
    #mappings
        h1 Mappings
            a(href='/clear-mapping') [Clear]
        ul
            each mapping, key in mappings
                li #{mapping.url} [originating at #{key}] <==> #{mapping.server}