#container.container-fluid
    include _navbar
    #content
        #servers.row-fluid
            #available-servers.span6
                h3 Available servers
                if availableServers.length
                    include _server-table-header
                        tbody
                            each as, index in availableServers
                                tr
                                    td #{as.name}
                                    td #{as.host}:#{as.port}
                                    td
                                        a#offline(href='/offline/#{index}', title='Take offline for maintenance')
                                            i.icon-wrench
                else 
                    i There are no available servers at the moment.
            #busy-servers.span6
                h3 Busy servers
                if busyServers.length
                    include _server-table-header
                        tbody
                            each bs in busyServers
                                tr
                                    td #{bs.name}
                                    td #{bs.host}:#{bs.port}
                else 
                    i No servers are busy at the moment.
        #additional.row-fluid
            .span12
                if offlineServers.length
                    h3 Offline servers
                    include _server-table-header
                        tbody
                            each os, index in offlineServers
                                tr
                                    td 
                                        if os.bad
                                            i.icon-fire(title='Taken automatically offline by the grid. Probably could not be connected.')
                                        #{os.name}
                                    td #{os.host}:#{os.port}
                                    td
                                        a#online(href='/online/#{index}', title='Put online')
                                            i.icon-play
                                        | 
                                        a#drop(href='/drop/#{index}', title='Drop this server')
                                            i.icon-off

                include _add-server
